.stepper {
    width: 100vw;
    overflow: hidden;

    &__inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        transition: transform 200ms ease-in-out;
    }

    &__item {
        width: 100%;
    }
}
