@import '../theme';

.skill-group {
    &__title {
        color: $color-label;
        text-transform: uppercase;
    }

    &__skills {
        list-style-type: none;  
        padding: 0;
        margin: 0;
        margin-bottom: 1em;
    }
}

.skill {
    & + & {
        margin-top: 0.1em;
    }
    // Override react-markdown styles
    &__description.react-mark-down {
        p {
            margin: 0;
            padding: 0;
        }

        em {
            font-size: 0.8em;
            color: $color-label;
        }
    }

    // &__proficiency {
    //     box-sizing: border-box;
    //     display: block;
    //     padding: 1px 20% 0 20%;
    //     margin-top: 1px;
    //     background-color: var(--theme-color, #000000);

    //     @for $i from 1 through 5 {
    //         &-#{$i} {
    //             width: $i * 20%;
    //         }
    //     }
    // }
}