@import "theme";

.application-section-label {
    display: flex;
    align-items: center;
    color: var(--theme-color);

    &__icon {
        margin-right: 0.5rem;
        font-size: 0; // Set to 0 to hide whitespaces that will offset the icon
    }
}
