@import '../theme';

$line-color: orange;

.timeline {
    // Line
    --line-color: #{$line-color};
    $line-offset: 1rem;
    $line-width: 0.1rem;

    // Dots
    $dot-size: 0.5rem;

    // Offsets and marings
    $time-size: 0.8rem;
    $time-offset: $time-size / 2;

    $bottom-padding: 2rem;

    position: relative;
    margin-left: $line-offset * 2;

    &::before {
        // Define the timeline line
        content: "";
        position: absolute;
        width: $line-width;
        background-color: $line-color;
        background-color: var(--line-color);
        top: $time-offset;
        bottom: -1em;
        left: -$line-offset;
    }

    &::after {
        // The bottom bar
        content: "";
        position: absolute;
        width: $dot-size;
        height: $line-width;
        background-color: $line-color;
        background-color: var(--line-color);
        bottom: - ($bottom-padding / 2);
        left: - ($line-offset + ($dot-size / 2) - ($line-width / 2));
    }

    &__item {
        page-break-inside: avoid;

        & + & {
            // Use padding instead of margin, because margins do not apply after a print page break
            padding-top: $bottom-padding;
        }
    }

    &__body {
        grid-area: body;
        white-space: pre-line;
        font-weight: 300;
    }

    &__time {
        position: relative;

        &::before {
            // The dot
            content: "";
            position: absolute;
            width: $dot-size;
            height: $dot-size;
            border-radius: 50%;
            background-color: $line-color;
            background-color: var(--line-color);
            top: ($time-offset - (0.5 * $dot-size));
            left: - ($line-offset + (0.5 * $dot-size) - (0.5 * $line-width));
        }
    }

    &__title {
        grid-area: title;
        vertical-align: text-bottom;
        margin-bottom: 0.5em;

        color: $color-label;
        text-transform: uppercase;

        &__primary,
        &__secondary {
            display: inline;
        }

        &__secondary {
            font-weight: lighter;
            font-size: $font-size-label;
        }

        &__primary + &__secondary{
            margin-left: 1em;
        }
    }
}