body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media only print {
  body {
    font-size: 11px;
  }
}

@page {
  size: A4;
}

p {margin-bottom: 1.3rem;}
h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 1.602rem;
}
h2 {font-size: 1.424rem;}
h3 {font-size: 1.266rem;}
h4 {font-size: 1.125rem;}
small, .font_small {font-size: 0.889rem;}

.hk-button {
  padding: 0.5rem 0.4rem;
}

.hk-field-group {
  & + & {
    margin-top: 1em;
  }
  &--inline {
    display: flex;
    flex-direction: row;

    & .hk-formfield {
      margin-top: 0;
    }

    & .hk-formfield + .hk-formfield {
      margin-left: 0.5em;
    }
  }
}

.hk-textfield__native-control {
  background-color: darken($color: #fff, $amount: 3%);
}