.application-page {
    display: grid;
    grid-template: 
        "personal       personal"
        "work           skills"
        "education      skills"
    ;

    .education {
        grid-area: education;
    }

    .work-experience {
        grid-area: work;
    }

    .skills {
        grid-area: skills;
        border-left: 1px solid darken(#ffffff, 5%);
    }

    .skills,
    .education,
    .work-experience {
        margin: 1rem;
        padding: 1rem;
    }

    .personal {
        grid-area: personal;
    }

    @media (max-width: 800px) {
        display: block;
        .skills {
            border-left: 0;
        }
    }
}

.application-segment-appear {
    animation: segment-appear 0.3s ease-out;
}

@keyframes segment-appear {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}

@media print {
    html, body {
        font-size: 11pt !important;
    }
    // Hide the page title and date.
    @page { size: auto;  margin: 0mm; }
}