@import '../theme';

.skill-group {
    &__title {
        color: $color-label;
        text-transform: uppercase;
    }

    &__skills {
        list-style-type: none;  
        padding: 0;
    }
}

.skill {
    // Override react-markdown styles
    &__description.react-mark-down {
        p {
            margin: 0;
            padding: 0;
        }

        em {
            font-size: 0.9em;
            color: $color-label;
        }
    }
}