@import "theme";

.application-footer {
    grid-area: footer;
    @include label;
    
    p {
        text-align: center;
        padding: 1rem;
        margin: 0;
    }

    a {
        color: inherit;
    }
}